<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <!-- TODO 2b: use *ngFor to display satellite data in the table -->
        <tr *ngFor = "let Satellite of satellites" class="data-row"> 
        <td>{{Satellite.name}}</td>
        <td [class.warning]="Satellite.isSpaceDebris()">{{Satellite.type}}</td>
        <td>{{Satellite.operational}}</td>
        <td>{{Satellite.orbitType}}</td>
        <td>{{Satellite.launchDate}}</td>
              
    </tr>
</table>

<!-- TODO 3b: add style directive to conditionally highlight satellite type -->

